<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ch03</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <jsp-config>
  	<jsp-property-group>  		
  		<url-pattern>/temp/*</url-pattern> <!-- /temp/* => temp폴더에 있는 모든 프로그램을 사용할 것이다 -->
  		<include-prelude>/header.jsp</include-prelude> <!-- 머리글로 사용할 프로그램 -->
  		<include-coda>/footer.jsp</include-coda> <!-- 바닦글로 사용할 프로그램 -->
  	</jsp-property-group>
  	<jsp-property-group>  		
  		<url-pattern>/temp2/*</url-pattern> <!-- /temp/* => temp폴더에 있는 모든 프로그램을 사용할 것이다 -->
  		<include-prelude>/header2.jsp</include-prelude> <!-- 머리글로 사용할 프로그램 -->
  		<include-coda>/footer.jsp</include-coda> <!-- 바닦글로 사용할 프로그램 -->
  	</jsp-property-group>
  </jsp-config>
</web-app>